.display-infor-container {
  // class cha bao bên ngoài cho an toàn
  .redColor {
    color: red;
  }

  .blueColor {
    color: blue;
  }
  img {
    height: 200px;
    width: 200px;
  }
  .list-item {
    display: flex;
    justify-content: space-between;
    :first-child {
      text-align: left;
    }
  }
}
