.manage-user-container {
  padding: 12px;
  .title {
    font-weight: 500;
  }
  .user-content {
    .btn-add-new {
      margin: 8px 0;
    }
  }
}

.modal-add-user {
  .img-preview {
    border: 1px dashed #bdbdbd;
    height: 150px;
    width: 100%;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #b0b0b0;
    img {
      max-height: 100%;
      max-width: 100%;
      object-fit: contain;
    }
  }
  .label-upload {
    width: fit-content;
    display: flex;
    gap: 5px;
    align-items: center;
    border: 1px solid red;
    padding: 3px 10px;
    border-radius: 5px;
    background: #eeeeee;
    cursor: pointer;
    &:hover {
      background: #bbbbbb;
    }
  }
}
