.admin-container {
  display: flex;

  .admin-content {
    width: 100%;
    .admin-header {
      // border: 1px solid green;
      height: 40px;
      margin-bottom: 5px;
    }
    // .admin-main {
    // }
  }
}
