.login-container {
  .header {
    height: 45px;
    text-align: right;
    padding: 0 100px;
    display: flex;
    align-items: center;
    justify-content: right;
  }
  .title {
    font-size: 25px;
    padding: 20px 0;
    text-align: center;
  }
  .welcome {
    font-size: 20px;
    padding: 10px 0;
    text-align: center;
  }
  .content-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 12px;
    .form-group {
      position: relative;
      width: 100%;
      .icon {
        position: absolute;
        font-size: 20px;
        top: 43%;
        right: 5px;
      }
    }
    .forgot-password {
      width: 100%;
    }
    .btn-submit-wrap {
      width: 100%;
      .btn-submit {
        width: 100%;
      }
    }
    .back {
      cursor: pointer;
    }
  }
}
