.show {
  display: block;
}

.hide {
  display: none;
}
#root {
  max-width: 100%;
  margin: 0 auto;
  // padding: 2rem;
  // text-align: center;
}

@media (min-width: 992px) and (max-width: 1199px) {
  .container,
  .container-lg,
  .container-md,
  .container-sm {
    max-width: 1080px !important;
  }
}
.app-container {
  .header-container {
    .navbar {
      z-index: 10;
      .navbar-nav {
        .btn-login,
        .btn-signup {
          min-width: 83px;
          border-radius: 12px;
          margin-right: 15px;
          padding: 0 15px;
          border: 1px solid rgb(96, 95, 95);
          height: 40px;
        }
        .btn-login {
          &:hover {
            background-color: rgb(217, 217, 217);
            color: black;
          }
        }
        .btn-signup {
          background-color: rgb(44, 44, 44);
          &:hover {
            background-color: black;
          }
        }
        .nav-link {
          &.active {
            color: rgb(255, 247, 132);
          }
        }
      }
    }
  }
}

.homepage-container {
  .container {
    .row {
      position: relative;
      // display: flex;
      // justify-content: space-around;
      align-items: center;
      padding: 60px 0;
      .homepage-content {
        padding: 90px;
        .title-header h1 {
          font-size: 40px;
        }
        .description {
          font-size: 20px;
        }
        .getstarted {
          margin: 12px 0;

          .btn-getstarted {
            outline: none;
            border: 1px solid rgb(36, 36, 36);
            background-color: rgb(116, 115, 115);
            color: white;
            font-size: 18px;
            &:hover {
              background-color: black;
            }
          }
        }
      }
    }
  }
}

.homepage-container {
  background: url("./assets/backGroungHomePage.jpg") center / cover no-repeat;
  // height: 100vh;
  min-height: 100vh;
}
